In [68]:
# import sqlite3  

# con = sqlite3.connect("Account.db")  
# con.row_factory = sqlite3.Row  
# cur = con.cursor()  
# cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
# row=cur.fetchall()

In [69]:
# row[0]

In [70]:
# for row in row:
#     print(row)
#     for i in range(len(row)):
#         print(i)
#         print(row[i],end=" ")
#     print()

<sqlite3.Row object at 0x000001F5C1D261D0>
0
Account
<sqlite3.Row object at 0x000001F5C1D26190>
0
sqlite_sequence

In [71]:
# colnames = cur.description
# for row in colnames:
#     print(row[0])

name

In [4]:
cur.execute("select * from Table01 ") 
row=cur.fetchall() 
row

In [2]:
import sqlite3  

con = sqlite3.connect("Database01.db")  
con.row_factory = sqlite3.Row  
cur = con.cursor()  
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
table=cur.fetchall()

In [21]:
tables=[]
for Alltable in table:
    for i in range(len(Alltable)):
        tables.append(Alltable[i])
tables

['Table01', 'sqlite_sequence', 'Table02']

In [17]:
tableLength=len(tables)

In [3]:
column=[]
cur.execute("select * from {0}".format("Table01"))
rows=cur.fetchall()
colnames = cur.description
for Allcolumns in colnames:
    column.append(Allcolumns[0])
column

['id', 'Name', 'Password']

In [4]:
columnlength=len(column)
columnlength

3

In [5]:

for Allrow in rows:
    for k in range(0,columnlength):
        print(Allrow[k],end=" ")
    print()

1 Shah rajababu
23 papa aao aao

columnlength

In [14]:
columnlength

0

In [21]:
for row in rows:
    print(row)

<sqlite3.Row object at 0x0000029867476570>

In [20]:
print(rows[0])

<sqlite3.Row object at 0x0000029867476570>

In [2]:
import sqlite3  
with sqlite3.connect("Database01.db") as con:  
                cur = con.cursor()  
                cur.execute("INSERT into Table01 (id,Name,Password) values (?,?,?)",("23","papa","aao aao"))  
                con.commit()

In [23]:

for Allrow in rows:
    for k in range(0,columnlength):
        print(Allrow[k],end=" ")
    print()

1 Shah rajababu
23 papa aao aao

In [24]:
Details=[]
CompleteDet=[]
for Allrow in rows:
    Details=[]
    for k in range(0,columnlength):
        Details.append(Allrow[k])
    CompleteDet.append(Details)

In [25]:
CompleteDet

[[1, 'Shah', 'rajababu'], [23, 'papa', 'aao aao']]